@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: black;
  font-size: 14px;
  font-family: "Instrument Sans";
  font-weight: 500;
  line-height: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
